In [1]:
for num in range(10):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

In [5]:
for num in range(10):
    for i in range(num):
        print(num,end=" ")
        
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

In [11]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
n=[]
for n in list1:
    if n %2==1:
        print(n)
for m in list2:
    if m %2==0:
        print(m)

25
35
40
60
90

In [ ]:
# Exercise 11: Write a Program to extract each digit from an integer in the reverse order.
# For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.
a=7536

In [12]:
income = 45000
tax_payable = 0
print("Given income", income)

if income <= 10000:
    tax_payable = 0
elif income <= 20000:
    # no tax on first 10,000
    x = income - 10000
    # 10% tax
    tax_payable = x * 10 / 100
else:
    # first 10,000
    tax_payable = 0

    # next 10,000 10% tax
    tax_payable = 10000 * 10 / 100

    # remaining 20%tax
    tax_payable += (income - 20000) * 20 / 100

print("Total tax to pay is", tax_payable)

Given income 45000
Total tax to pay is 6000.0

In [19]:
for num in range(1,11):
    for i in range(num):
        print(num*i,end=" ")
        
    print("\t\t")

0
0 2
0 3 6
0 4 8 12
0 5 10 15 20
0 6 12 18 24 30
0 7 14 21 28 35 42
0 8 16 24 32 40 48 56
0 9 18 27 36 45 54 63 72
0 10 20 30 40 50 60 70 80 90

In [34]:
b=[]
print(type(b))
for b in range([1998,2023]):
    print(b)

<class 'list'>

TypeError: 'list' object cannot be interpreted as an integer

In [31]:
print(type(b))

<class 'int'>

In [35]:
def exponent(base,exp):
    num=exp
    result=1
    while num>0:
        result=result*base
        num=num-1

In [ ]:
i=0
while i <=10:
    i=i+2
    print("kau")

In [ ]:
i=1
while i <=10:
    i=i+2
    print("kau")

In [2]:
def expo(base,exp):
    num=exp
    result=1
    while num>0:
        result=result*base
        num=num-1
    print(result)
expo(5,4)

625

In [4]:
# Write a program to accept two numbers from the user and calculate multiplication

num1=int(input("given input"))
num2=int(input("second given input"))
multi=num1*num2
print("the given output is :",multi)

given input45
second given input47
the given output is : 2115

In [5]:
print("name","is","james",sep="**")

name**is**james

In [10]:
num=8
print("%o" %num)

10

In [11]:
Home » Python Exercises » Python Input and Output Exercise
Python Input and Output Exercise
Updated on: September 6, 2021 | 86 Comments

In Python, we can use the input() to accept input from a user and print() to display output on the console. Also, we can use Python for file handling (Reading, writing, appending, and deleting files).

This Python Input and Output exercise aims to help Python developers to learn and practice the Python built-in functions print() and input() to perform input and output tasks. Also, we will solve exercises to practice file handling in Python.

Also Read:

Python input and Output
Pytohn File Handling
Python Input and Output Quiz
This Input and Output exercise includes the following: –

The exercise contains 10 questions and solutions provided for each question.
When you complete each question, you get more familiar with the Python Input and Output.
Let us know if you have any alternative solutions. It will help other developers.
Use Online Code Editor to solve exercise questions.

Table of contents
Exercise 1: Accept numbers from a user
Exercise 2: Display three string “Name”, “Is”, “James” as “Name**Is**James”
Exercise 3: Convert Decimal number to octal using print() output formatting
Exercise 4: Display float number with 2 decimal places using print()
Exercise 5: Accept a list of 5 float numbers as an input from the user
Exercise 6: Write all content of a given file into a new file by skipping line number 5
Exercise 7: Accept any three string from one input() call
Exercise 8: Format variables using a string.format() method.
Exercise 9: Check file is empty or not
Exercise 10: Read line number 4 from the following file
Exercise 1: Accept numbers from a user
Write a program to accept two numbers from the user and calculate multiplication

Help: Take user input in Python

Show Hint
Show Solution
num1 = int(input("Enter first number "))
num2 = int(input("Enter second number "))

res = num1 * num2
print("Multiplication is", res)
 Run
Exercise 2: Display three string “Name”, “Is”, “James” as “Name**Is**James”
Use the print() function to format the given words in the mentioned format. Display the ** separator between each string.

Expected Output:

For example: print('Name', 'Is', 'James') will display Name**Is**James

Show Hint
Use the sep parameter of the print() function to define the separator symbol between each word.

Show Solution
Exercise 3: Convert Decimal number to octal using print() output formatting
Given:

num = 8
Expected Output:

The octal number of decimal number 8 is 10

Show Hint
Show Solution
num = 8
print('%o' % num)
 Run
Exercise 4: Display float number with 2 decimal places using print()
Given:

num = 458.541315

SyntaxError: invalid character '»' (U+00BB) (3044423598.py, line 1)

In [12]:
num = 458.541315
print(%.2num)

SyntaxError: invalid decimal literal (1040062462.py, line 2)

In [13]:
numbers = []

# 5 is the list size
# run loop 5 times
for i in range(0, 5):
    print("Enter number at location", i, ":")
    # accept float number from user
    item = float(input())
    # add it to the list
    numbers.append(item)

print("User List:", numbers)

Enter number at location 0 :
5
Enter number at location 1 :
4
Enter number at location 2 :
1.2
Enter number at location 3 :
6
Enter number at location 4 :
47
User List: [5.0, 4.0, 1.2, 6.0, 47.0]

In [15]:
numbers=[]
for i in range(0,5):
    print("enter the number ",i)
    item=float(input())
    numbers.append(item)
print("updated ",numbers)

enter the number  0
10
enter the number  1
15
enter the number  2
124
enter the number  3
124
enter the number  4
452
updated  [10.0, 15.0, 124.0, 124.0, 452.0]

In [16]:
with open("test.txt", "r") as fp:
    # read all lines from a file
    lines = fp.readlines()

# open new file in write mode
with open("new_file.txt", "w") as fp:
    count = 0
    # iterate each lines from a test.txt
    for line in lines:
        # skip 5th lines
        if count == 4:
            count += 1
            continue
        else:
            # write current line
            fp.write(line)
        # in each iteration reduce the count
        count += 1

FileNotFoundError: [Errno 2] No such file or directory: 'test.txt'

In [3]:
# i=int(input("enter the number whose multiple by :"))

for i in range(10):
    if i==10:
        break
    print("5x",i+1,"=",5*(1+i))

5x 1 = 5
5x 2 = 10
5x 3 = 15
5x 4 = 20
5x 5 = 25
5x 6 = 30
5x 7 = 35
5x 8 = 40
5x 9 = 45
5x 10 = 50

In [4]:

i=int(input("set the number:"))
while i<=38:
    print(i)
    i=i+1
    if i==10:
        break
    
        
    
print(i)

set the number:5
5
6
7
8
9
10

In [5]:
class person():
    name="kausal"
    age=24
    occupation="mechanical engineering"
    def info(self):
        print(f"{self.name} is a{self.occupation}")
        
a=person()
b=person()

a.name="pal"
a.occupation="jhaatu"
b.name="rajul"
b.occupation="k"
b.info()
a.info()

rajul is ak
pal is ajhaatu

In [6]:
# decorator
def reco(dmx):
    def mx():
        print("rahul gandhi jindabad")
        
        dmx()
            
        
        print("rahul ke papa jindabad and also nana jindabad")
    return mx       
@reco
def pal():
    print("hey  i am kaushal")
pal()

rahul gandhi jindabad
hey  i am kaushal
rahul ke papa jindabad and also nana jindabad

In [7]:
# how to range in loop convert into list
x=[i for i in range(2001,2022)]
print(x)

[2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [8]:
# time alarm
import time
t=time.strftime("%H")
x=print(t)
if t==x:
    print("good morning")

else :
    print("good evening")

15
good evening

In [9]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
n=[]
for n in list1:
    if n %2==1:
        print(n)
for m in list2:
    if m %2==0:
        print(m)

25
35
40
60
90

In [10]:
for num in range(10):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9